.Author {
    margin: 16px 0;
    color: #ccc;
}

.Organization-wrapper {
    display: inline-flex;
}

.Organization-icon {
    margin-top: 5px;
    margin-right: 5px;
    color: darkgrey;
}

.Person-image {
    margin-top: 15px;
    border-radius: 50px;
    float: right;
}
